{{!-- <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Blood Type</th>
                    <th scope="col">Can Donate</th>
                </tr>
            </thead>
            <tbody>
                {{#each donors}}
                {{#if this.canDonate}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                        <td>{{this.donorName}}</td>
                        <td>{{this.bloodType}}</td>
                        <td>Yes</td>
                </tr>
                {{/if}}
                {{/each}}
          
              
            </tbody>
        </table> --}}

        <button class="btn-add-donor" type="submit"><strong>+</strong></button>
       
      <div class="handle-btns">
              <div><button class="d-circle" type="submit"> </a> 
        <a class="d-link" href="/donors">donors</a>
        </a></button></div>
         <div><button class="p-circle" type="submit"> </a> 
        <a class="p-link" href="/patients">patients</a>
        </a></button></div>
       
            <div><button class="b-circle" type="submit"> </a> 
        <a class="b-link" href="/blood">blood</a>
        </a></button></div>
        </div>

       