
<table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Blood Type</th>
                    <th scope="col">Can Donate</th>
                </tr>
            </thead>
            <tbody>
                {{#each donors}}
                {{#if this.canDonate}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                        <td>{{this.donorName}}</td>
                        <td>{{this.bloodType}}</td>
                        <td>Yes</td>
                </tr>
                {{/if}}
                {{/each}}
          
              
            </tbody>
        </table>

        <button class="btn-add-donor" id="adddonor-btn" type="submit"><strong>+</strong></button>

{{!-- navigation buttons --}}
        
        <button class="d-circle" type="submit"> 
        <a class="d-link" href="/donors">donors</a>
        </button>

         <button class="p-circle" type="submit">
        <a class="p-link" href="/patients">patients</a>
        </button>
       
        <button class="b-circle" type="submit"> 
        <a class="b-link" href="/blood">blood</a>
        </button>
        