<table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Blood Type</th>
                    <th scope="col">condition</th>
                </tr>
            </thead>
            <tbody>
                {{#each patients}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                        <td>{{this.patientName}}</td>
                        <td>{{this.bloodType}}</td>
                        <td>{{this.patientCon}}</td>
                </tr>
                {{/each}}
          
              
            </tbody>
        </table>

        <button class="btn-add-donor" id="patadd-btn" type="submit"><strong>+</strong></button>
      

          
      
       