<table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Blood Type</th>
                    <th scope="col">condition</th>
                </tr>
            </thead>
            <tbody>
                {{#each patients}}
                <tr>
                    <th scope="row">{{this.id}}</th>
                        <td>{{this.patientName}}</td>
                        <td>{{this.bloodType}}</td>
                        <td>{{this.patientCon}}</td>
                </tr>
                {{/each}}
          
              
            </tbody>
        </table>

        <button class="btn-add-donor" id="patadd-btn" type="submit"><strong>+</strong></button>
      

          
        <button class="d-circle" type="submit"> 
        <a class="d-link" href="/donors">donors
        </a></button>
        
        <button class="p-circle" type="submit"> 
        <a class="p-link" href="/patients">patients
        </a></button>
       
        <button class="b-circle" type="submit"> 
        <a class="b-link" href="/blood">blood</a>
        </button>
       